<html>
<head>
<style>
.divSize{
width:30%
}
.tdwidth td{ width: 200px; height: 100%; overflow:hidden; padding-left:5px }
</style>
<head/>
<body>
<div><form>
<h1 style="text-align:center"><b>WELCOME</b></h1>
<div class="divSize" style= "float:left; border:1px solid black;margin-top:200px; margin-left:80px">
<h4 style="text-align:center">User Login</h4>
<table class="tdwidth">
<tr>
<td>Username</td>
<td><input type = "text"/></td>
</tr>
<tr>
<td>Password</td>
<td><input type = "password"/></td>
</tr>
<tr>
<td  align="right" style="padding-right:15px" ><input type = "button" value="Login"/></td>
<td> <a href="#">Register</a>
</td>
</tr>
</table>
</div>
<div class="divSize" style= "float:right; margin-top:200px; margin-right:80px; border:1px solid black">
<h4 style="text-align:center">Bidder Login</h4>
<table class="tdwidth">
<tr>
<td>Username</td>
<td><input type = "text"/></td>
</tr>
<tr>
<td>Password</td>
<td><input type = "password"/></td>
</tr>
<tr>
<td  align="right" style="padding-right:15px" ><input type = "button" value="Login"/></td>
<td> <a href="#">Register</a>
</td>
</tr>
</table>
</div></form>
</div>
</body>
</html>